<div id="notice" class="main-page"><%= notice %></div>
<div class="center jumbotron">
	<h1>Кадровое агентство HR</h1>
	<p>Бороться и искать, найти и не сдаваться</p>
</div>

<div class="container" id="bonsai">
  <%= image_tag "bonsai.jpg", id: "image-bonsai" %>
</div>