<div class="center jumbotron">
	<h1>Это главная страница кадрового агентства</h1>
	<p>Пожалуйста, войдите на сайт или зарегистрируйтесь.</p>
	<%= link_to "Sign up", '#', class: "btn btn-lg btn-primaty" %>
	<%= link_to "Log in", '#', class: "btn btn-lg btn-primaty" %>
</div>