<p>Здравствуйте <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку на изменение Вашего пароля. Для изменения пройдите по ссылке ниже.</p>

<p><%= link_to 'Изменить мой пароль.', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если Вы не запрашивали изменение пароля, то просим игнорировать это сообщение.</p>
<p>Ваш пароль не изменится до тех пор, пока Вы не перейдете по ссылке и не создадите новый пароль.</p>
